.dropdown::before
{
    display: none;
}
.dropdown::after
{
    display: none;
}
.dropdown1::before
{
    display: none;
}
.dropdown1::after
{
    display: none;
}
.classColor1
{
    border-color: red;
    box-shadow: red;
}
.classColor2
{
    border-color: red;
    box-shadow: red;
}
.classColor3
{
    border-color: red;
    box-shadow: red;
}
.class1
{
    border-color: none;
    box-shadow: none;
}
.class2
{
    border-color: none;
    box-shadow: none;
}
.class3
{
    border-color: none;
    box-shadow: none;
}
.spins::after 
{
    position: absolute;
    content: 'please save a filter';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
    color: #000;
}
.pick
{
    width: 20%;
    margin-left: 4%;
    padding-left: 1%;
}
.searchDrop{
    max-width: 50%;
    z-index: 1;
    position: absolute;
    left: 0;
    background-color: #fff;
}